:root {
  --buttonWidth: 8rem;
  --buttonHeight: 2.5rem
}

button {
  width: calc(var(--buttonWidth));
  height:calc(var(--buttonHeight));
  background-color: #24CB7D;
  outline: none;
  border-style: none;
  cursor: pointer;
  border-radius: 1rem;
  color:white;
  text-transform: uppercase;
  
  transition: all 250ms ease-in;
}

button:hover {
  transform: translateY(-.2rem);
  box-shadow: 0 .2rem #dddddd;

  transition: all 300ms;
}

button:active {
  background-color: #24CB7Dcc;
  border-radius: 1.5rem;
  
  transition: all 350ms ease-out;
}


.page-content {
  padding: 1.2rem;
}

.app-header {
  padding: 1rem;
  box-shadow: 0 0 .5rem #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-header span {
  font-weight: 500;
}

.nav-drawer-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 .5rem #dddddd;
  text-align: center;
  padding-top: 2rem;

  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 1199px) {
  .nav-drawer-menu {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .nav-drawer-menu {
    width: 25%;
  }
}

.nav-drawer-menu-closed {
  transform: translateX(-100%);
}

.nav-menu-mask {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #00000066;

  transition: all 600ms;
}

.nav-menu-mask-hide {
  opacity: 0;
  z-index: -1;
}

.nav-menu-links {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.nav-menu-links a {
  text-decoration: none;
  color: #42c7f7;
  font-weight: 300;
  padding: 1.0rem 0 0 0;
  text-align: center;
}

.nav-menu-links a::after,
.nav-menu-links a:first-child::before {
  content: '';
  display: block;
  width: 100%;
  height: .05rem;
  background-color: #bababa55;
}

.nav-menu-links a::after {
  margin-top: 1.0rem;
}

.nav-menu-links a:first-child {
  padding: 0;
}

.nav-menu-links a:first-child::before {
  margin-bottom: 1.0rem;
}

.data-title {
  font-weight: 400;
  font-size: 1.0rem;
  margin-top: 1rem;
}

.data {
  color: #515151;
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: .5rem;
}

.script::before {
  content: '$';
  margin-right: .5rem;
}

.card {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #f5f5f5;
  border-radius: .2rem;
}

.app-footer {
  padding: 1rem;
  background-color: #f5f5f5;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.app-footer span {
  font-weight: 200;
  color: #7c7c7c;
}

.loader {
  border: .5rem solid #ffffff00;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  animation: spin 1000ms infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  0% {
    border-top: .5rem solid rgb(66, 199, 247, 1.0);
  }
  50% {
    border-top: .5rem solid rgb(66, 199, 247, 0.5);
  }
  100% {
    transform: rotate(360deg);
    border-top: .5rem solid rgb(66, 199, 247, 1.0);
  }
}

/* Utilities */

.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.margin-auto0 {
  margin: auto 0;
}

.margin-0auto {
  margin: 0 auto;
}

.mt-05 {
  margin-top: .5rem
}
.mt-10 {
  margin-top: 1rem
}
.mt-15 {
  margin-top: 1.5rem
}
.mr-05 {
  margin-right: .5rem;
}